*.html
*.bin
*.dat
*.txt
*.slx
*.slxc
*.xml
*.fda
*.docx
*.ipynb
*.pyc
*.wav
*.pth
*.mat
*.jpg
# Pyotrch extention convention for tensors:
*.pt
*.zip
Data/*
Checkpoints/*
*.sav
*.docx
*.asv
*.fig
temp/*
*.pdf
*.xlsx